<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       bean-discovery-mode="annotated">
    <!-- bean-discovery-mode="annotated" is default in Java EE 7 -->

    <scan>
        <!-- Against "WARNING: WELD-001529 An InjectionTarget implementation is created for a class
        org.primefaces.context.PrimeFacesContextFactory which does not have any appropriate constructor"
        PrimeFaces 4.0 is affected, 4.1 is already fixed. -->
        <exclude name="org.primefaces.context.*" />
    </scan>

</beans>