body {
    font-size: 12px;
    font-family: Verdana, sans-serif;
}

#page_menu {
    width: 100%;
    background-color: grey;
    margin-bottom: 1em;
    background-color: teal;
    border: black solid thin;
    border-bottom: black solid medium;
}

#page_menu img {
    border: black solid medium;
}

#page_menu h1 {
    font-family: Comic Sans MS, fantasy;
    border: black solid medium;
    padding: 5%;
    margin: 0%;
    background-color: aquamarine;
}

#blogForm\:blogTable {
    width: 50%;
    margin-bottom: 1em;
}

#blogForm\:blogNew {
    width: 25%;
}