<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My Blog</title>
    </head>
    <body>
        <h1>My Blog</h1>

        <table id="entries">
            <tr th:each="entry : ${entries}">
                <td th:text="${entry.title}"></td>
                <td th:text="${entry.created}"></td>
                <td th:text="${entry.content}"></td>
            </tr>
        </table>

        <div id="footer">
            <ul>
                <li>Time: <span th:text="${date}"/></li>
            </ul>
        </div>
    </body>
</html>