<?xml version="1.0" encoding="UTF-8"?>
<configuration
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd"
    scan="false" scanPeriod="1 minute" debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %mdc{camel.messageId} %mdc{camel.routeId} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.camel" level="INFO"/>

    <root level="debug">
<!--        <appender-ref ref="STDOUT" /> -->
    </root>
</configuration>
