<?xml version="1.0" encoding="UTF-8"?>
<configuration
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://raw.github.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd"
    debug="false" scan="false" scanPeriod="30 seconds">

    <!--
    The variable {com.sun.aas.instanceRoot:-.} contains the directory of the
    Glassfish application server domain or when not running on Glassfish,
    e.g. during a junit test, the current directory.
    -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DEBUG_LOG" class="ch.qos.logback.core.FileAppender">
        <file>${com.sun.aas.instanceRoot:-.}/logs/java_test.debug.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="INFO_LOG" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${com.sun.aas.instanceRoot:-.}/logs/java_test.info.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="WARN_LOG" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <file>${com.sun.aas.instanceRoot:-.}/logs/java_test.warn.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
        <logger name="org.jboss.weld.Interceptor" level="ERROR" />
        <logger name="org.jboss.weld" level="WARN" />
    -->

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="DEBUG_LOG" />
        <appender-ref ref="INFO_LOG" />
        <appender-ref ref="WARN_LOG" />
    </root>
</configuration>
