<?xml version="1.0" encoding="UTF-8"?>
<!-- src/main/resources/WEB-INF/beans.xml necessary for WELD+JSF!
     See http://balusc.omnifaces.org/2013/10/how-to-install-cdi-in-tomcat.html -->
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       bean-discovery-mode="annotated">
</beans>
