<?xml version="1.0" encoding="UTF-8"?>
<configuration
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://raw.github.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.eclipse.persistence.session.file:/srv/home/james/workspace/java_test_ee6_nbpfcrud/target/test-classes/_java_test_ee6_nbpfcrud_PU.metamodel" level="INFO"/>
    <logger name="org.eclipse.persistence" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
